.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
    height: 150px;
  }
  
  .menu-header {
    display: flex;
    align-items: center;
    width: 95%;
    padding: 20px;
    background-color: #0E3C3E;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    justify-content: center;
  }
  
  .hamburger-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
  }
  
  .lista-menu-header {
    display: flex;
    gap: 50px;
    list-style-type: none;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    font-weight: 600;
  }
  
  .item-menu-header {
    position: relative;
    cursor: pointer;
  }
  
  .item-menu-header::after {
    content: ""; /* Cria um pseudo-elemento para a linha */
    position: absolute; /* Posicionamento absoluto em relação ao item */
    bottom: -5px; /* Posiciona a linha abaixo do item */
    left: 50%; /* Alinha a linha com o centro do item */
    width: 0; /* Define a largura inicial da linha como zero */
    height: 3px; /* Define a altura da linha */
    background-color: #ffffff; /* Define a cor da linha */
    transition: width 0.3s; /* Adiciona uma transição suave para a mudança de largura */
    transform: translateX(-50%); /* Centraliza a linha horizontalmente */
  }
  
  .item-menu-header:hover::after {
    width: 100%; /* Aumenta a largura da linha para cobrir o item */
  }
  
  @media (max-width: 768px) {
    .menu-header {
        justify-content: flex-start;
    }

    .hamburger-icon {
      display: block;
    }
  
    .lista-menu-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      background-color: #0E3C3E;
      width: 85%;
      position: absolute;
      top: 110px;
      left: 8px;
      padding: 0 20px;
      border-radius: 20px;
      max-height: 0;
      overflow: hidden;
    }
  
    .lista-menu-header.open {
      max-height: 300px; /* Ajuste conforme o necessário */
      padding: 20px;
    }
  }
  